.main-footer {
    background-color: #f9f9f9; 
    padding: 10px;               
    color: #333;         
}
  
.container {
    max-width: 1200px; 
    margin: 0 auto;  
    padding: 5px; /* Espacio */
}
  
.row {
    display: flex; 
    flex-wrap: wrap; /* Permitir que los elementos se ajusten a la pantalla */
    justify-content: space-between; 
}
/* Mover columnas */
.col {
    flex-basis: 20%; 
    margin: 20px; 
}
/* FIN Mover columnas */
/* Quitar los puntos de la lista,padding y margen*/
.listado {
    list-style: none; 
    padding: 10px; 
    margin: 0; 
    
}
 /* FIN*/

.listado li{
    margin-bottom: 12px; 
}

.listado li a{
    color: black;
}
  
.listado li:last-child {
    margin-bottom: 0; 
}
  
hr {
    border: none; 
    border-top: 2px solid #ccc; 
    margin: 10px 0; 
}
/* copyright */
.col-sm {
    font-size: 15px; 
    color: #666; 
    text-align: center; 
}
/* Fin copyright */